#do cp .env.example .env
# Server settings
HTTP_PORT=8080
SOCKET_PATH=/tmp/atotp.sock
ENABLE_SOCKET=true

# ATOTP defaults
DEFAULT_ISSUER=example
DEFAULT_ALGORITHM=sha1
DEFAULT_DIGITS=6
DEFAULT_PERIOD=30
#options: 1 - only ip, 2 - only url, 3 - ip+url
DEFAULT_ADDRESS_OPTION=3

# Mandatory
#can be ip or url or ip+url, url of your login page
ADDRESS=127.0.0.1,https://example.com/login

# Security
SECRET_LENGTH=20